:root {
    --headerbtntext: 1.4rem;
    --headersvgsize: 3rem;
    --inputplaceholdersize: 1.8rem;
    --maincontwidthheight: 130rem;
    --availablercpimgsize: 6rem;
    --bookmarkbuttonsize: 4.5rem;
    --newrecipewidth: 1200px;
    --cooktimesize: 2rem;
    --recipe-title: 3.25rem;
    --detailimageheight: 22.5rem;
    --ingredientcheckmarksize: 2rem;
    --ingredientfontsize: 1.75rem;
    --ingredientfontsizetitle: 2.5rem;
}

html {
    font-size: 62.5%;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    padding: 50px 0;
    display: flex;
    align-items: center;
    min-width: var(--maincontwidthheight);
    min-height: var(--maincontwidthheight);
    background: linear-gradient(to bottom right, rgba(255, 166, 0, 0.35), rgba(255, 60, 0, 0.6));
}

.mainCont {
    overflow: hidden;
    background-color: white;
    width: var(--maincontwidthheight);
    min-height: 1300px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.15);
}

.transparency {
    opacity: 0;
}
@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}

.invisible-content *:not(.loader, .loadspinnergeneral) {
    opacity: 0 !important;
}

.loader {
    position: absolute;
    left: 50%;
    top: 10px;
    width: 40px;
    height: 40px;
    animation: loading 2s linear infinite;
}

.loadspinnergeneral {
    width: 20%;
    height: 20%;
    background-color: orangered;
    border-radius: 50%;
    position: absolute;
}

.loadspinner1 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.loadspinner2 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.loadspinner3 {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}


.loadspinner4 {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.loadspinner5 {
    left: 5px;
    top: 5px;
}

.loadspinner6 {
    right: 5px;
    top: 5px;
}

.loadspinner7 {
    left: 5px;
    bottom: 5px;
}

.loadspinner8 {
    right: 5px;
    bottom: 5px;
}

main {
    display: flex;
    min-height: calc(1300px - 100px );
    position: relative;
    z-index: 4;
}

.no-display {
    display: none !important;
}

.no-display-pseudo {
    z-index: -1 !important;
}

.no-interaction {
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
}
.no-interaction-harsh {
    user-select: none;
    pointer-events: none;
    opacity: 0;
}
.disabled {
    user-select: none;
    pointer-events: none;
}

/* HEADER */
header {
    background-color: rgb(250, 245, 245);
    display: flex;
    height: 10rem;
    justify-content: space-around;
    align-items: center;
}

header svg {
    height: var(--headersvgsize);
    width: var(--headersvgsize);
}

main svg {
    height: var(--headersvgsize);
    width: var(--headersvgsize);
    fill: rgba(255, 60, 0, 0.6);
    /* default svg config */
}

#forkify-logo {
    height: 50px;
    width: auto;
}

header>form {
    position: relative;
    width: 40%;
    background-color: white;
    display: flex;
    border-radius: 30px;
    height: 50%;
}

header>form input {
    border-radius: inherit;
    font-size: var(--inputplaceholdersize);
    width: 100%;
    outline: none;
    border: none;
    font-weight: 500;
    padding-left: 30px;
}

header>form input::placeholder {
    color: rgba(105, 105, 105, 0.7);
}

header button {
    padding: 0 30px;
}

header>form button {
    color: white;
    font-size: calc(var(--headerbtntext) + 2px);
    background: linear-gradient(to bottom right, rgba(255, 166, 0, 0.35), rgba(255, 60, 0, 0.6));
    height: 100%;
    outline: none;
    border: none;
    border-radius: 30px;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

header>form button:hover {
    transform: scale(1.05);
}

header button>svg {
    margin-right: 10px;
    fill: currentColor
}

.recipe-and-bookmark-cont {
    display: flex;
    height: 100%;
    position: relative;
    z-index: 11;
}

.recipe-and-bookmark-cont button {
    color: rgba(50, 50, 50, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: var(--headerbtntext);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}
.bookmarked-recipes-cont {
    max-height: 0px;
    min-height: 0px;
    background: linear-gradient(to bottom, rgb(250, 245, 245) 25%, rgb(255, 255, 240) 75%);
    position: absolute;
    top: 98px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.2s ease-in-out;
    width: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
}
.bookmarked-recipes-cont::-webkit-scrollbar-track
{
    background-color: rgba(105, 105, 105, 0.15);
}

.bookmarked-recipes-cont::-webkit-scrollbar
{
	width: 5px;
    display: none;
}

.bookmarked-recipes-cont::-webkit-scrollbar-thumb
{
	background-color: rgba(0, 0, 0, 0.25);
}


.no-bookmarks-question-mark {
    display: flex;
    font-size: var(--ingredientfontsizetitle);
    color: orange;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
}
.bookmarks-on {
    min-height: 300px;
    max-height: 300px;
}
.recipe-and-bookmark-cont button svg {
    fill: rgba(255, 60, 0, 0.6);
}

.recipe-and-bookmark-cont button:hover {
    background-color: rgb(230, 230, 230);
}

/* LIST OF RECIPES */
.recipe-list-cont {
    width: 40%;
    overflow: hidden;
    position: relative;
}

.recipe-list {
    padding: 1.5rem 0;
    width: 100%;
    display: flex;
    transition: all 0.3s;
    min-height: 50px;
}

.pagenation-part {
    min-width: 100%;
}

.pagenation-part::-webkit-scrollbar {
    display: none;
}

.available-recipe {
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all 0.2s;
    cursor: pointer;
    margin-bottom: 1.25rem;
    min-height: 9rem;
}

.available-recipe>div h1 {
    margin-top: 0;
}

.available-recipe>div h2 {
    margin: 0;
}

.recipe-list::-webkit-scrollbar {
    display: none;
}
.bookmarked-recipes-cont > .available-recipe:hover {
    background-color: rgba(255, 94, 0, 0.15);
}
.available-recipe img {
    height: var(--availablercpimgsize);
    width: var(--availablercpimgsize);
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 25px;
}

.available-recipe:hover {
    background-color: rgb(250, 245, 245);
    transform: translateY(-5px);
}

.available-recipe h1 {
    margin-bottom: 20px;
    color: rgba(255, 60, 0, 0.5);
    user-select: none;
    font-weight: 600;
}

.available-recipe h2 {
    margin: none;
    user-select: none;
    font-weight: 500;
    color: rgba(50, 50, 50, 0.7);
}

.pagination-cont {
    width: 100%;
    position: absolute;
    transition: all 1s;
    bottom: 0;
    left: 0;
    padding: 2.5rem 0;
    height: 5rem;
    display: flex;
    justify-content: space-around;
}

.pagebutton {
    font-size: var(--headerbtntext);
    display: flex;
    align-items: center;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.pagebutton:hover {
    color: rgb(255, 94, 0);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

.page-left svg {
    margin-right: 5px;
}

.page-right svg {
    margin-left: 5px;
}

.pagebutton svg {
    width: var(--ingredientcheckmarksize);
    height: var(--ingredientcheckmarksize);
}

/* DETAILED RECIPE */

.recipe-details {
    width: 60%;
    background-color: rgb(250, 245, 245);
    /* transition: all 0.5s; */
}
.recipe-details-transp-cont {
    transition: all 0.5s;
}


.image-and-bookmark {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.serving-time-bookmark {
    display: flex;
    justify-content: space-around;
    margin-top: 7.5rem;
}

#bookmark-btn {
    outline: none;
    border: none;
    background: linear-gradient(to right, rgba(255, 166, 0, 0.35), rgba(255, 60, 0, 0.6));
    border-radius: 50%;
    width: var(--bookmarkbuttonsize);
    height: var(--bookmarkbuttonsize);
    cursor: pointer;
    transition: all 0.2s;
    
}
#bookmark-btn:hover > svg {
    fill: aqua;
}

#bookmark-btn svg {
    fill: white;
    transition: all 0.3s;
}

.serving-time-bookmark div {
    display: flex;
    align-items: center;
}

.cook-time strong {
    margin-right: 10px;
    margin-left: 10px;
}

.cook-time {
    font-size: var(--cooktimesize);
    margin-right: 40px;
}

.serving-size-cont strong {
    margin-right: 10px;
    margin-left: 10px;
}

.serving-size-cont {
    font-size: var(--cooktimesize);
}

.inc-dec-servings {
    margin-left: 20px;
}

.inc-dec-servings svg {
    margin: 0 5px;
    transition: all 0.2s;
    cursor: pointer;
}
.inc-dec-servings svg:hover {
    transform: translateY(-3px) scale(1.1);
}

.image-and-title {
    position: relative;
    height: 75%;
}

.image-and-title img {
    height: var(--detailimageheight);
    width: 100%;
    filter: blur(1px);
    object-fit: cover;
}

.orange-haze-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 190, 50, 0.25);
}

.image-and-title h1 {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, 20%) skewY(-5deg);
    line-height: 1.75;
    font-size: var(--recipe-title);
    color: white;
    font-weight: 600;
    text-align: center;
}

.recipe-title {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background: linear-gradient(to right, rgb(255, 190, 69), rgb(255, 94, 0));
    padding: 10px;
}

.ingredient-list-cont {
    padding: 3rem 0;
    background-color: #f2efee;
}

.ingredient-list-cont h1 {
    font-size: var(--ingredientfontsizetitle);
    text-align: center;
    color: rgba(255, 60, 0, 0.6);
}

.ingredient-list {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5rem;
    column-gap: 1rem;
}

.ingredient-list::-webkit-scrollbar {
    display: none;
}

.ingredient-list span {
    display: flex;
    font-size: var(--ingredientfontsize);
}

.ingredient-list span svg {
    margin-right: 5px;
    min-width: var(--ingredientcheckmarksize);
    max-width: var(--ingredientcheckmarksize);
    height: var(--ingredientcheckmarksize);
}

.go-to-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 10rem;
}

.go-to-instructions h1 {
    color: rgba(255, 60, 0, 0.6);
    font-size: var(--ingredientfontsizetitle);
}

.go-to-instructions span {
    font-size: var(--ingredientfontsize);
    text-align: center;
    max-width: 80%;
    margin-bottom: 5rem;
}

.go-to-instructions a {
    display: flex;
    align-items: center;
    font-size: var(--ingredientfontsize);
    padding: 2rem;
    color: white;
    font-weight: 600;
    border-radius: 35px;
    text-decoration: none;
    outline: none;
    background: linear-gradient(to right, rgb(255, 190, 69), rgb(255, 94, 0));
}

.go-to-instructions a svg {
    fill: white;
    width: var(--ingredientcheckmarksize);
    height: var(--ingredientcheckmarksize);
    margin-left: 5px;
}
/* add new recipe */

.new-recipe-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}
.new-recipe-overlay * {
    transition: opacity 0.3s;
}

.add-recipe-modal {
    width: var(--newrecipewidth);
    height: 600px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.add-recipe-modal-inputs {
    display: flex;
    height: 500px;
}
.add-recipe-modal-inputs > div {
    width: 50%;
    padding: 3rem 5rem 3rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.add-recipe-modal-inputs > div > h1 {
    font-size: 3rem;
}
.input-name-and-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-name-and-input h1 {
    color: rgb(80, 80, 80);
}
.input-name-and-input input {
    border-radius: 4px;
    outline: none;
    height: 30px;
    width: 65%;
    font-size: 1.8rem;
    border: 1px solid grey;
    transition: all 0.2s;
}
.input-name-and-input input:hover {
    background-color: rgba(255, 166, 0, 0.15);
}
.input-name-and-input input:focus {
    background-color: rgba(255, 166, 0, 0.15);
}
.general-button-style {
    display: flex;
    justify-content: center;
    font-size: var(--ingredientfontsize);
    padding: 2rem;
    color: white;
    font-weight: 600;
    border-radius: 35px;
    text-decoration: none;
    outline: none;
    background: linear-gradient(to right, rgb(255, 190, 69), rgb(255, 94, 0));
    width: 100px;
    margin: auto;
}
@media only screen and (max-width: 1500px) {
    :root {
        --maincontwidthheight: 110rem;
        --newrecipewidth: 100rem;
        --newrecipeheight: 50rem;
    }

    .input-name-and-input input {
        height: 25px;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1200px) {
    :root {
        --maincontwidthheight: 100rem;
        --newrecipewidth: 90rem;
        --newrecipeheight: 50rem;
    }

    .input-name-and-input input {
        height: 25px;
        font-size: 1.5rem;
    }

    header>form input {
        width: 50%;
    }
}

@media only screen and (max-width: 1050px) {
    :root {
        --maincontwidthheight: 80rem;
        --newrecipewidth: 70rem;
        --newrecipeheight: 50rem;
        --cooktimesize: 1.8rem;
    }
    .add-recipe-modal-inputs {
        flex-direction: column;
        overflow-y: scroll;
        align-items: center;
        border-bottom: 4px solid rgba(128, 128, 128, 0.25);
    }
    .input-name-and-input input {
        height: 25px;
        font-size: 1.5rem;
    }

    header>form input {
        width: 50%;
    }

    #ZaForumu>button {
        font-size: 0;
        width: 50px;
        padding: 0;
    }

    #ZaForumu>button>svg {
        margin: auto;
    }

    header>form {
        width: 30%;
    }
    header button {
        padding: 0 10px;
    }
    .cook-time {
        margin-right: 10px;
    }
    .inc-dec-servings {
        margin-left: 10px;
    }
    
    .add-recipe-modal-inputs > div > h1 {
        text-align: center;
    }
    .add-recipe-modal-inputs::-webkit-scrollbar {
     width: 8px;
     background-color: #F5F5F5;
    }
    .add-recipe-modal-inputs > div {
        width: 75%;
        padding: 4rem 5rem 4rem;
    }
    .add-recipe-modal-inputs::-webkit-scrollbar-thumb {
      background-color: rgba(128, 128, 128, 0.25);
      border: 2px solid transparent;
    }
}
@media only screen and (max-width: 840px) {
    :root {
        --maincontwidthheight: 65rem;
        --newrecipewidth: 50rem;
        --newrecipeheight: 50rem;
        --headerbtntext: 0;
    }
    main {
        flex-direction: column;
    }
    header button {
        padding: 0 25px;
    }
    header button > svg {
        margin: 0;
    }
    .recipe-list-cont {
        width: 100%;
    }
    .recipe-details {
        width: 100%;
    }
    .bookmarked-recipes-cont {
        width: 300px;
        right: 0;
    }
    .pagination-cont {
        position: static;
    }
    .pagination-cont button {
        font-size: 1.5rem;
    }
    .add-recipe-modal-inputs > div {
        width: 75%;
        padding-left: 0;
        padding-right: 0;
    }
    .input-name-and-input h1 {
        font-size: 1.5rem;
        /* font-weight: bold; */
    }
}
@media only screen and (max-width: 690px){
    :root {
        --maincontwidthheight: 55rem;
        --newrecipewidth: 40rem;
        --newrecipeheight: 40rem;
        --recipe-title: 2.5rem
    }
    #ZaForumu input::placeholder {
        font-size: 0;
    }

}
@media only screen and (max-width: 590px){
    :root {
        --maincontwidthheight: 45rem;
        --newrecipewidth: 35rem;
    }
    header button {
        padding: 0 5px;
    }
    #ZaForumu {
        width: 50%;
    }
    #forkify-logo {
        height: 30px;
    }
    .available-recipe > div h1 {
        padding-right: 1rem;
    }
}
@media only screen and (max-width: 490px) {
    :root {
        --maincontwidthheight: 35rem;
        --newrecipewidth: 30rem;
        --newrecipeheight: 40rem;
    }
    #forkify-logo {
        display: none;
    }
    .serving-time-bookmark > div {
        flex-direction: column;
        align-items: flex-start;
    }
    #bookmark-btn {
        align-self: flex-end;
    }
}